/* Заголовок */
.mainHeader {
	text-align: center;	
	font-size: 4vw;
}
.mainHeader > span {
	max-width: 13%;
	max-height: 13%;
	display: inline-block;
	vertical-align: middle;	
	border: 4px double #000;
	padding: 1%;
	letter-spacing: 1px;
	font: 0.25em 'Cinzel Decorative', serif;
}
span.left {
	margin-right: 3%;
}
span.right {
	margin-left: 3%;
}
.name {
	font: 1em 'Fredericka the Great', cursive;
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}
.ship {
	display: inline-block;
	width: 13%;
	vertical-align: middle;
	-webkit-filter: grayscale(100%);
}
section {
	font-size: 1vw;
}
/* Подзаголовок */
section > header > div {
	margin: 0 auto;
	font: 1.5em 'Satisfy', cursive;
	width: 92%;
	min-height: 50px;
	border: 4px double;
	border-color: #000;
	font-variant: small-caps;
}
section > header > span {
	display: block;
}
span.date {
	margin-left: 5%;
}
span.price {
	float: right;
	margin-right: 5%;
}
/* Статья с Алыми парусами */
article {
	width: 90%;
	text-align: justify;
	margin: 3% auto;
	font: 1em 'IM Fell Double Pica', serif;
	border: 40px solid transparent;
	border-image: url(http://cs628824.vk.me/v628824611/17660/qNB21TcAOFY.jpg) 100 100 round;
}
article > header {
	text-transform: uppercase;
	font: 2em 'Fredericka the Great', cursive;
	font-weight: bold;
	text-decoration: overline underline;
	text-align: center;
}
article > div {
	-webkit-column-count: 3;
	-webkit-column-rule: 3px dotted #ccc; 
}
article > div > img {
	vertical-align: middle;
	width: 95%;
	margin-left: 2.5%;
}
article > div > p, figcaption > p {
	text-indent: 2%;
}
article > div > p::first-letter, figcaption > p::first-letter {
	font: 1.5em 'Cinzel Decorative', cursive;
}
.assolHeader {
	text-transform: uppercase;
	text-shadow: 2px 2px #858585;
	font: 1.5em 'Jacques Francois Shadow', cursive;
	text-align: center;
}
.assolHeader::first-letter {
	font: 1.5em 'Jacques Francois Shadow', cursive;
}
.blockquote {
	border-bottom: 3px dashed #bababa;
	border-top: 3px dashed #bababa;
	padding: 10px 15px;
	font: 1.5em 'Italianno', cursive;
	line-height: 1;
}
.blockquote::first-letter {
	font-family: 'Italianno', cursive;
}
hr {
	width: 80%;
}
.last {
	-webkit-column-span: all;
}
.letUs, .last > p {
	font: 1.5em 'Cinzel Decorative', cursive;
	text-align: center;
}
figure {
	border: 2px dotted #ccc;
	padding: 20px 20px;
	text-align: center;
	width: 80%;
	margin: auto;
}
figure > img {
	width: 80%;
}
figcaption {
	text-align: justify;
	-webkit-column-count: 2;
	width: 80%;
	margin: auto;
}
/* Подвал */
footer > p {
	width: 100%;
	text-align: center;
	font: 2em 'Meddon' cursive;
	letter-spacing: 0.5em;
}
/* Настройки */
.font, .color, label {
	font-size: 1vw;
}
.color{
	margin-left: 10%;
}
#black:checked ~ * {
	background-color: #000;
	color: #fff;
}
#black:checked ~ header > .mainHeader > span,
#black:checked ~ section > header > div {
	border-color: #fff;
}
#black:checked ~ section > article {
	border: none;
	margin: auto;
}
#black:checked ~ header > div > img {
	border: 2px solid #000;
}
/* шрифт больше */
#bigger:checked ~ header > .mainHeader {
	font-size: 5vw;
}
#bigger:checked ~ section {
	font-size: 2vw;
}
#bigger:checked ~ header > .mainHeader .left,
#bigger:checked ~ header > .mainHeader .right {
	margin: 0;
}
/* шрифт меньше */
#smaller:checked ~ header > .mainHeader {
	font-size: 3vw;
}
#smaller:checked ~ section {
	font-size: 0.5vw;
}
